<div ng-if="main.show.list">
	<div class="tabs">
		<md-tabs md-selected="-6" md-stretch-tabs="always" layout-align="center center" class="statusBar md-whiteframe-z2" md-dynamic-height md-border-bottom>
			<md-tab flex label="unanswered" md-on-select="main.setStatus('unanswered')" ></md-tab>
			<md-tab flex label="answered" md-on-select="main.setStatus('answered')"></md-tab>
			<md-tab flex label="both" md-on-select="main.setStatus('both')"></md-tab>
		</md-tabs>
	</div>

	<div layout="column" class="questionsContainer">
		<div ng-show="main.questions.length == 0" layout="row">
			<div flex class="md-whiteframe-z2 cap warn red">
				There are no <span class="bold">{{ main.currentStatus == 'both' ? '' : main.currentStatus }}</span> questions in <span class="bold">{{ main.currentCategory }}</span> 
			</div>	
		</div>
		<div ng-hide="main.questions.length == 0" layout="row">
			<div class="hor-end"># Unread</div>	
		</div>
		<div class="question md-whiteframe-z4" layout horizontal ng-repeat="q in main.questions">
			<button ng-click="main.go(q)" block class="answerBtn md-button answerBtnContainer" md-ink-ripple flex="13">
				<i class="fa fa-comments-o"></i>
				<span> {{ q.answered ? "See Answer" : "Answer It" }} </span>
			</button>
			<div flex="65" class="questionText">
				<span>{{ q.body }}</span>
				<div style="margin-top:20px;">
					<div class="footer" layout="row">
						<div class="lFooter" flex="20">
							# Replies: {{ q.total_replies }}
						</div>
						<div flex="80" class="rFooter right-flex">
							Asked by {{ q.user.name }} {{ q.created_at }}.
						</div>						
					</div>
				</div>
			</div>
			<button ng-click="main.follow(q)" block class="followBtn md-button answerBtnContainer" md-ink-ripple flex="10">
				<i class="fa" ng-class="q.unread_status ? 'fa-check' : 'fa-plus'"></i>
				<span> {{ q.unread_status ? 'Following' : 'Follow' }} </span>
			</button>
			<div center flex="12" class="statusContainer">
				<md-button ng-click="main.go(q)" aria-label="blah" class="md-fab unread reg" ng-class="q.answered ? 'green' : 'red' "> 
					{{ q.unread }} 
				</md-button>
			</div>
		</div>
	</div>
	<div layout="row">
		<div flex>
			<md-button ng-click="main.pageDown()" ng-if="main.currentPage > 1" class="md-primary md-raised">
				<i class="fa fa-arrow-left fa-2x"></i>
			</md-button>
		</div>
		<div flex class="right-flex">
			<md-button ng-if="main.questions.length == 25" ng-click="main.pageUp()" class="md-primary md-raised">
				<i class="fa fa-arrow-right fa-2x"></i>
			</md-button>
		</div>
	</div>
</div>
<!-- <question-discussion show-on="main.show.question" question="main.current" user="main.currentUser"></question-discussion>	 -->