<div ng-controller="Question as q" >
	<div class="md-whiteframe-z2 questionMain questionText" flex>
		<h2 class="slim"> {{ q.current.title }} <a ng-if="q.current.answered" href="#correct" class="jump">Jump to answer</a> </h2>		
		<span class="fading-line"></span>
		<div class="questionBody">
			{{ q.current.body }}
		</div>
		<p class="tiny block slim qFooter"> asked by {{ q.current.user.name }} {{ q.current.created_at }} </p>
	</div>
	<loader loading="q.loading"></loader>
	<div class="replyContainer" flex>
		<h2 class="slim">Replies ({{ q.current.total_replies }}) </h2>
		<span class="fading-line"></span>
		<div class="reply" ng-repeat="r in q.replies">
			<div layout="row" ng-class="r.is_answer ? 'correct' : ''" ng-attr-id="{{ r.is_answer ? 'correct' : '' }}">
				<div ng-class="!q.current.answered && q.showCheck(user) ? '' : 'hide'" flex="5" ng-mouseover="q.setActive(r)">
					<div >
						<i ng-click="q.answer(r)" class="fa fa-check fa-3x check"></i>
						<md-tooltip>Mark as Correct</md-tooltip>
					</div>
				</div>
				<div ng-if="r.is_answer" flex="5">
					<div >
						<i class="fa fa-check fa-3x check greenChk"></i>
						<md-tooltip>This is the correct answer</md-tooltip>
					</div>
				</div>
				<div flex="95" class="rContainer">
					<h3 class="name slim">
						<i ng-if="r.user.mentor" class="fa fa-star fa-border"></i>
						<i ng-if="r.user.l2" class="fa fa-certificate fa-border"></i>
						{{ r.user.name }} <span class="ts tiny"> {{r.created_at}} </span> </h3>
					<div class="replyText">
						{{ r.body }}
					</div>
				</div>
			</div>
			<span class="fading-line"></span>
		</div>
		<div ng-if="!q.current.answered" class="doReply md-whiteframe-z3">
			<form ng-submit="q.reply(q.current, q.replyBody)">
				<md-input-container flex="" class="md-default-theme md-input-has-value">
	                <label for="body">Type Your Answer</label>
	                <textarea ng-model="q.replyBody" columns="1" md-maxlength="550" class="md-input ng-valid-md-maxlength" id="body" ng-trim="false" aria-multiline="false" tabindex="0" aria-invalid="false" ></textarea>
	            </md-input-container>
	            <div class="right-flex">
	            	<md-button class="md-raised md-primary">Send Reply</md-button>
	            </div>
	        </form>
		</div>
	</div>
</div>